<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa codeClass</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<ul class="nav">
    <li><a href="/">Doanh nghiệp</a></li>
    <li><a href="/individual">Cá nhân</a></li>
    <li><a href="/codee">Danh mục</a></li>
    <li><a href="/user">Quản lý User</a></li>
</ul>
<div align="center">
    <h1>Sửa danh mục</h1>
    <br/>
    <form action="#" th:action="@{/save/codee}" th:object="${codee}" method="post">
        <table border="0" cellpadding="10">
            <tr  style="display:none">
                <td>ID</td>
                <td><input type="text" th:field="*{id}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>STT cấp</td>
                <td><select name="stt">
                    <option th:each="i : ${stt_options}" th:value="${i}" th:text="${i}"
                            th:selected="(${i} == *{stt})"></option>
                </select></td>
            </tr>
            <tr>
                <td>Tên</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Giá trị</td>
                <td><input type="text" th:field="*{meaning}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Lưu</button>
                </td>
            </tr>
            </tr>
        </table>
    </form>
</div>
</body>
</html>